@font-face {
    font-family: 'GothamPro'; 
    src: url(fonts/GothamPro.14d5b651.ttf); 
}
*{
    font-family: "GothamPro";
}
input:focus-visible {
    outline: none;
}
.iface-centered{
    display:flex;
    align-items:center;
    justify-content:center;
    height:100vh
}
.shedule-bg{
    background-image:linear-gradient(45deg,#7d1b1dd9,#0e1434d9);
    width: 100%;
    min-height: 110%;
    position:absolute;
    left:0;
    top:0;
}
.head{
    -webkit-user-select: none;
    user-select: none;
    margin: 10px auto 10px auto;
    padding: 0px 60px;
    display: grid;
    grid-template-columns: 1fr 9fr 1fr;
    font-size: 18px;
    align-items: center;
    color: #fff;
    max-width: 800px;
}
.head-menu{
    position: relative;
    display: inline-block;
    cursor: pointer;
}
.head-menu-title{
    display: grid;
    height: 40px;
    padding-right: 10px;
    grid-template-columns: 40px auto;
    align-items: center;
    grid-gap: 10px;
}
.head-menu-list{
    position: absolute;
    z-index: 1;
    display: none;
    grid-template-rows: repeat(1,1fr);
    align-items: center;
    box-shadow:0 1.11vh 2.04vh #fdb101a4;
}
.menu-list-show{
    display: grid;
}
.list-item{
    background-color: #fff;
    color: #3f1523;
    text-align: center;
    padding: 20px;
    border: none;
}
.list-item:hover{
    background:#ffb200;
    color:#3f1523;
    box-shadow:0 1.11vh 2.04vh #fdb10114;
    transition-duration:.2s
}
.head-menu-title:hover{
    background:#ffb200;
    box-shadow:0 1.11vh 2.04vh #fdb10114;
    color:#3f1523;
    transition-duration:.2s
}
.head-title{
    text-align: center;
}
.shedule{
    margin: 0px auto 80px auto;
    padding: 0px 60px;
    max-width: 800px;
}
.shedule-head{
    height: 75px;
    background: #F7C204;
    border-radius: 50px 50px 0px 0px;
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: 20px auto 20px;
    grid-gap: 20px;
    color: #4f182ccc;
    font-weight: 700;
    font-size: 16px
}
.shedule-footer{
    height: 75px; 
    background-color: #fff;
}
.arrow_a{
    scale: .8
}
.arrow_b{
    scale: -.8
}
.arrow_a:hover{
    scale: .6;
    transition-duration: .2s
}
.arrow_b:hover{
    scale: -.6;
    transition-duration: .2s
}
.shedule-table{
    background-color: #fff;
}
.shedule-day{
    height: 60px;
    padding-top: 20px;
    box-sizing: border-box;
    margin: 0px 70% 0px 20px;
    font-weight: 700;
    font-size: 18px;
    color: #4F182C;
    border-bottom: 2px solid #d1c9cc;
}
.shedule-day a{
    color: #4F182C;
    text-decoration: none;
}
.shedule-list{
    transition: .25s;
}
.shedule-value-exams{
    height: 90px;
    margin: 0px 20px 0px 20px;
    display: grid;
    grid-template-columns: 7fr 5fr 3fr 20fr 10fr 5fr;
    grid-column-gap: 4px;
    align-items: center;
    text-align: center;
    border-bottom: 2px solid #d1c9cc;
    font-weight: 500;
    font-size: 14px;
    color: #4F182C73;
}
.shedule-value{
    height: 90px;
    margin: 0px 20px 0px 20px;
    display: grid;
    grid-template-columns: 5fr 12fr 5fr 4fr 70fr 20fr 14fr;
    grid-column-gap: 4px;
    align-items: center;
    text-align: center;
    border-bottom: 2px solid #d1c9cc;
    font-weight: 500;
    font-size: 14px;
    color: #4F182C73;
}
.val-row{
    grid-row: span 2;
}
.val_col{
    height: 60px;
    color: #4f182ccc;
    font-weight: 700;
    font-size: 16px;
    overflow: hidden;
}
.ticket-barcode{
    display:flex;
    justify-content:space-between;
    padding: 10px 40% 0px 40%;
}
.ticket-barcode div{
    background:#4f182ccc;
    background:#4f182c00;
    height:30px
}
.ticket-code{
    color:#4f182ccc;
    font-size:12px;
    text-align:center;
    font-weight:700;
    margin-top:7px
}
.ext-container{
    width: 100%;
    height: 100%;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #4b4b4b70;
}
.ext-container-close{
    position: absolute;
    right: 1vw;
    top: 1vw;
    height: 5vw;
    width: 5vw;
    border: none;
    padding: 0px;
    margin: 0px;
    background-color: #fff0;
    background-image: url("img/close.png");
    background-size: cover;
}
.ext-container-close:hover{
    right: 0.5vw;
    top: 0.5vw;
    height: 6vw;
    width: 6vw;
    transition-duration:.2s
}
.chsum{
    width: 50vh;
    height: 50vh;
    margin: auto;
    background-color: #fff;
    border-radius: 5vh;
}
.chsum-content{
    display: grid;
    grid-template-columns: repeat(2,20vh);
    grid-template-rows: 10vh 5vh;
    margin: 5vh 5vh;
    justify-items: center;
    align-items: center;
}
.chsum-data{
    height: 10vh;
    overflow: hidden;
    padding: 1vh;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
}
.chsum-data-val{
    text-align: center;
    background: #d1c9cc;
    border-radius: 1.25vh;
    border-width: 0px;
    padding: 0px;
    height: 5vh;
    width: 100%;
    line-height: 5.37vh;
    color: #3f1523;
    font-weight: 700;
    transition-duration: .2s;
}
.chsum-data-val:focus-visible{
    background-color: #3f1523;
    color: #fff;
}
.chsum-data-val::selection{
    color: #f5be09;
    text-shadow: none;
}
.chsum-data-text{
    line-height: 1.76vh;
}
.chsum-button{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: span 2;
    height: 4vh;
    width: 38vh;
    border-radius: 1vh;
    border-width: 0px;
    background-color: #d1c9cc;
    color: #3f1523;
    cursor: pointer;
}
.chsum-button:hover{
    background-color: #f5be09;
    box-shadow:0 .56vh 1.85vh #ffb20040;
    color: #fff;
    cursor: pointer;
    transition-duration: .2s
}
@media (max-width: 600px){
  .head{
    font-size: 12px;
    padding: 0px 5%;
  }
  .shedule{
    padding: 0px 5%;
  }
  .shedule-head{
    font-size: 10px;
    height: 48px;
    border-radius: 32px 32px 0px 0px;
  }
  .shedule-day{
    font-size: 10px;
    height: 40px;
    margin: 0px 50% 0px 10px;
    border-bottom: 1px solid #d1c9cc;
  }
  .shedule-value{
    height: 60px;
    font-size: 8px;
    margin: 0px 10px 0px 10px;
    border-bottom: 1px solid #d1c9cc;
  }
  .val_col{
    font-size: 8px;
    font-stretch: extra-condensed;
    height: 30px;
  }
  .ticket-barcode{
    padding: 10px 20% 0px 20%;
  }
  .chsum{
    font-size: 10px;
  }
  .chsum-button{
    font-size: 10px;
  }
}
