@font-face {
	font-family: 'GothamPro'; 
	src: url(fonts/GothamPro.14d5b651.ttf); 
}
*{
	font-family: "GothamPro";
}
.iface-centered{
    display:flex;
    align-items:center;
    justify-content:center;
    height:100vh
}
.shedule-bg{
    background-image:linear-gradient(45deg,#7d1b1dd9,#0e1434d9);
    width: 100%;
    min-height: 110%;
    position:absolute;
    left:0;
    top:0;
}
.head{
    padding: 10px 80px 10px 80px;
    display: grid;
    grid-template-columns: 1fr 9fr 1fr;
    font-size: 18px;
    align-items: center;
    color: #fff;
}
.head-menu{
    display: grid;
    padding-right: 10px;
    grid-template-columns: 40px auto;
    align-items: center;
    grid-gap: 10px;
}
.head-menu:hover{
    background:#ffb200;
	box-shadow:0 1.11vh 2.04vh #fdb10114;
	color:#3f1523;
    border-radius: 10px;
	transition-duration:.2s
}
.head-title{
    text-align: center;
}
.shedule{
    margin: 0px 60px 80px 60px
}
.shedule-head{
    height: 75px;
    background: #F7C204;
    border-radius: 50px 50px 0px 0px;
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: 20px auto 20px;
    grid-gap: 20px;
    color: #4f182ccc;
    font-weight: 700;
    font-size: 16px
}
.shedule-footer{
    height: 75px; 
    /* border-radius: 0px 0px 50px 50px;  */
    background-color: #fff;
}
.arrow_a{
    scale: .8
}
.arrow_b{
    scale: -.8
}
.arrow_a:hover{
    scale: .6;
    transition-duration: .2s
}
.arrow_b:hover{
    scale: -.6;
    transition-duration: .2s
}
.shedule-table{
    background-color: #fff;
}
.shedule-day{
    height: 60px;
    padding-top: 20px;
    box-sizing: border-box;
    margin: 0px 70% 0px 20px;
    font-weight: 700;
    font-size: 18px;
    color: #4F182C;
    border-bottom: 2px solid #d1c9cc;;
}
.shedule-day a{
    color: #4F182C;
    text-decoration: none;
}
.shedule-list{
    margin: 0px;
}
.shedule-value{
    height: 90px;
    margin: 0px 20px 0px 20px;
    display: grid;
    grid-template-columns: 5fr 12fr 5fr 4fr 70fr 20fr 14fr;
    grid-column-gap: 4px;
    align-items: center;
    text-align: center;
    border-bottom: 2px solid #d1c9cc;
    font-weight: 500;
    font-size: 14px;
    color: #4F182C73;
}
.val-row{
    grid-row: span 2;
}
.val_col{
    height: 60px;
    color: #4f182ccc;
    font-weight: 700;
    font-size: 16px;
}
.ticket-barcode{
    display:flex;
    justify-content:space-between;
    padding: 10px 40% 0px 40%;
}
.ticket-barcode div{
    /*background:#4f182ccc;*/
    background:#4f182c00;
    height:30px
}
.ticket-code{
    color:#4f182ccc;
    font-size:12px;
    text-align:center;
    font-weight:700;
    margin-top:7px
}
@media (max-width: 600px){
  .head{
    font-size: 12px;
    padding: 10px 5% 10px 5%;
  }
  .shedule{
    margin: 0px 5% 80px 5%;
  }
  .shedule-head{
    font-size: 10px;
    height: 48px;
    border-radius: 32px 32px 0px 0px;
  }
  .shedule-day{
    font-size: 10px;
    height: 40px;
    margin: 0px 70% 0px 10px;
  }
  .shedule-value{
    height: 60px;
    font-size: 8px;
    border-bottom: 1px solid #d1c9cc;
    margin: 0px 10px 0px 10px;
  }
  .val_col{
    font-size: 8px;
    font-stretch: extra-condensed;
    height: 30px;
  }
  .ticket-barcode{
    padding: 10px 20% 0px 20%;
}
}
