:root{
	--menu-height: 7vh;
	--menu-close-img: 4vh;
}
*{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
	overflow: hidden;
	background-color: #00407d;
	margin: 0;
}
.main-container{
	width:100vw;
	height:100vh;
	overflow:hidden;
	position:relative;
	left:0;
	top:0;
	user-select:none
}
.bmap{
	height: 2048px;
	width: 2048px;
	position: relative;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(256px,1fr));
	cursor: pointer;
}
.bmap:hover{
	user-select: none;
	cursor: grab;
}
.bmap:active{
	cursor: grabbing;
}

.map-body__container{
	width:100%; 
	height:100%; 
	z-index:0
}
.map-body__find, .map-body__menu{
	display: flex; 
	justify-content: center; 
	align-items: center;
	background: #000000a6;
	position: absolute;
	right: 2vh;
	top: 3vh;
	z-index: 1;
	width: var(--menu-height);
	height: var(--menu-height);
	border: 0;
	border-radius: 50%;
	transition-duration: .25s;
}
.map-body__menu{
	left: 2vh;
}
.map-body__menu-cntnt{
	display: flex;
	flex-direction: column;
	background: #000000a6;
	-webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
	position: absolute;
	left: 2vh;
	top: 3vh;
	z-index: 2;
	padding: 2.5vh;
	border: 0;
	border-radius: 3vh;
	transition-duration: .25s;
}
.map-body__menu-item{
	height: var(--menu-height);
    line-height: var(--menu-height);
	padding: 0.5vh 4vh;
	color: #fff;
	text-decoration: none;
}
.mbm-close{
	display: flex;
    justify-content: center;
    padding: 0;
	height: var(--menu-close-img);
}
/* .mbm-close img{
	height: var(--menu-close-img);
	width: var(--menu-close-img);
} */
.map-body__menu-item:hover{
	background-color: #333333a6;
}
.map-body__menu-item:focus{
	background: #000000a6;
}
.map-body__find:hover, .map-body__menu:hover{
	cursor: pointer;
	background:#fff; 
	box-shadow:0 .74vh 2.96vh #ffffff3d; 
	transition-duration:.25s
}
.map-body__find img, .map-body__menu img, .mbm-close img, .map-body__clr img{
	height: var(--menu-close-img);
	width: var(--menu-close-img);
}
.map-body__search{
	position:absolute; 
	padding:3vh 10vh 0 10vh; 
	width:100%; 
	box-sizing:border-box; 
	z-index:1;
}
.map-body__search input{
	width: 100%; 
	background: #000000a6;
	border: 0; 
	outline: none; 
	padding: 0 7vh 0 4vh; 
	height: var(--menu-height); 
	box-sizing: border-box; 
	border-radius: var(--menu-height); 
	transition-duration: .25s;
	font-size: 14px; 
	line-height: 2vh; 
	color: #fff;
}
.map-body__search input::placeholder{
	font-size: 14px; 
	line-height: 2vh; 
	color: #fff;
	display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.map-body__search input:focus,.map-body__search input:hover{
	background:#fff; 
	box-shadow:0 .74vh 2.96vh #ffffff3d; 
	transition-duration: .25s;
}
.map-body__search input:focus,.map-body__search input:focus::placeholder,.map-body__search input:hover,.map-body__search input:hover::placeholder{
	color: #272727; 
	transition-duration: .25s;
}
.map-body__clr{
	position: absolute;
	top: 4.5vh;
	right: 12vh;
	border: 0;
	width: unset;
	height: unset;
	padding: 0;
	background: none;
}
.map-body__clr:hover{
	opacity: .5;
}
/* .map-body__clr img{
	width: 3vh;
	height: 3vh;
} */

.map-point, .map-point-d{
	position: absolute;
	user-select: none;
}
.map-point-cont{
	display: flex;
    flex-direction: column;
    position: relative;
    left: -50%;
    align-items: center;
}
.map-point-img{
	width: 9vh;
	height: 13.5vh;
	background-image: url("./images/icons/point.png");
	background-size: cover;
}
.map-point-text{
	height: 4vh;
	background-color: #272727;
	color: #fff;
	text-align: center;
	font-size: 12px;
	line-height: 4vh;
	padding: 0 2vh;
	border-radius: 1vh;
}
.map-point-img img{
	position: relative;
	top: 2vh;
	left: 1.5vh;
	width: 6vh;
	height: auto;
}
.map-point-d img{
	user-select: none;
	position: relative;
	top: -2vh;
    left: -2vh;
	width: 4vh;
	height: auto;
}

.map-places{
	position:absolute; 
	bottom:0; 
	width:100%; 
	z-index:1; 
	padding-bottom:2.96vh
}
.map-places__container{
	display: flex;
	margin: 0 2vh;
	overflow-x:overlay;
}
.map-places__container::-webkit-scrollbar{
	display:none
}
.map-places__card{
	padding:.5vh 2vh;
	display: flex;
	gap: 1vh;
	border: 1px solid #000;
	align-items: center;
	justify-content: flex-start;
	background-color: #000000a6;
	transition-duration: .25s;
	cursor: pointer;
}
.map-places-lsthd{
	border-radius: var(--menu-height);
	border-color: #0000;
}
#mapPlacesHead{
	justify-content: space-between;
}

.map-places__card img{
	max-height: var(--menu-height);
}
.map-hidden{
	display: none;
}
.map-places__card:hover{
	background: #fff; 
}
.map-places__card:hover .map-places__card-text{
	color:#272727; 
}
.map-places__card-text{
	font-size: 14px; 
	line-height: 120%; 
	color: #fff; 
	margin-right: 1vh; 
	white-space: nowrap; 
	transition-duration: .25s;
}
/* background: var(--color-background-compact-menu);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    padding: .25rem 0; */
@media (max-height: 500px) {
	:root{
		--menu-height: 10vh;
		--menu-close-img: 6vh;
	}
	.map-places__container{
		margin: 0 4vh;
	}
	.map-body__menu-cntnt{
		left: 4vh;
	}
	 .map-body__search{
		padding: 3vh 15vh 0 15vh; 
	}
	.map-body__search input{
		padding: 0 11vh 0 5vh;
	}
	.map-body__clr{
		right: 20vh;
	}
	 .map-body__find{
		right: 4vh;
	}
	.map-body__menu{
		left: 4vh;
	}
}
@media (min-width:900px) {
	.map-places{
		width: auto;
		top: 12vh;
		bottom: unset;
	}
	.map-places__container{
		display: flex;
		flex-direction: column;
		max-height: 60vh;
		margin: 0 4vh;
		overflow-x: unset;
		overflow-y: overlay;
	}
	 .map-body__search{
		padding: 3vh 12vh 0 12vh; 
	}
	.map-body__clr{
		right: 15.5vh;
	}
	 .map-body__find{
		right: 4vh;
	}
	.map-body__menu{
		left: 4vh;
	}
}
@media (min-width:900px) and (max-height: 500px){
	:root{
		--menu-height: 10vh;
		--menu-close-img: 6vh;
	}
	.map-places__container{
		margin: 0 4vh;
	}
	.map-places{
		width: auto;
		top: 15vh;
		bottom: unset;
	}
	.map-body__menu-cntnt{
		left: 4vh;
	}
	 .map-body__search{
		padding: 3vh 15vh 0 15vh; 
	}
	.map-body__search input{
		padding: 0 11vh 0 5vh;
	}
	.map-body__clr{
		right: 20vh;
	}
	 .map-body__find{
		right: 4vh;
	}
	.map-body__menu{
		left: 4vh;
	}
}